@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Scrollbar for modern look */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563; /* Tailwind gray-600 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Tailwind gray-500 */
}